<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Scoreboard</title>
  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #996E89;
      overflow: hidden;
    }
  
    .scoreboard {
      width: 340px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 21px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="scoreboard">
      <div class="type">
        <p>Scoreboard</p>
        <p>Player</p>
        <p>Computer</p>
      </div>
      <div class="win">
        <p>Win</p>
        <p><%= playerWinComputerLoss %> </p>
        <p><%= computerWinPlayerLoss  %> </p> 
      </div>
      <div class="loss">
        <p>Loss</p>
        <p><%= computerWinPlayerLoss %> </p>
        <p><%= playerWinComputerLoss %> </p>
      </div>
      <div class="draws">
        <p>Draw</p>
        <p><%= draw  %> </p>
        <p><%= draw %> </p>
      </div>
    </div>
  </div>
</body>
</html>